<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <p>x = <%= @x %></p>
    <div>
        <p>Factors: <%= for key <- @factors do %>
            <%= key %>
        <%= end %>
        </p>
    </div>
  </div>
</div>